#Ignore the logs directory
logs/

#Ignoring node modules
node_modules/

#Ignoring git and cache folders
.git
.cache

#Ignoring all the markdown and class files
*.md

#Other
.gitignore
.env*
dist/
docker-compose.yml
Dockerfile
Jenkinsfile